body {
  margin: 0;
  font-size: 100px;
  font-family: Arial, Helvetica, sans-serif;
  color: white; 
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.block {
  min-width: 300px;
  text-align: center;
  line-height: 300px;
  align-items: stretch;
}

.block:nth-child(1) {
  background-color: red;
  
}

.block:nth-child(2) {
  background-color:rgb(200,0,0);

}

.block:nth-child(3) {
  background-color:rgb(150,0,0);
}

.block:nth-child(4) {
  background-color:rgb(100,0,0);
}

.block:nth-child(5) {
  background-color:rgb(50,0,0);
}

.block:nth-child(6) {
  background-color:black;
}

@media (min-width: 1200px) {
  .container {
    grid-template-columns: repeat(3, minmax(300px, 1fr));
  }
  
}